<form action="/payment1">
  <label for="APR_id">APR</label>
  <input id="APR_id" name="APR">
  
  <label for="Y_id">Number of years</label>
  <input id="Y_id" name="year">

  <label for="pr_id">Principal</label>
  <input id="pr_id" name="pr">

  <button>Calculate monthly payment</button>

</form>
