<form action="/random1">
  <label for="min_id">Minimum</label>
  <input id="min_id" name="min">

  <label for="max_id">Maximum</label>
  <input id="max_id" name="max">

  <button>Pick random number</button>
  
</form>
