

<%if params.fetch("number").to_f%1==0%>
<div>Square root  is <%=Math.sqrt(params.fetch("number").to_i)%> </div>
<%else%>
<div>Square root  is <%=Math.sqrt(params.fetch("number").to_f)%> </div>
<%end%>
